<%- include("./partials/head.ejs") %>
<h1><%= dog.breed %></h1>
<h3>Size: <%= dog.size %></h3>
<h3><%= dog.isFrequentBarker? "This dog barks a lot" : "This dog doesn't bark much" %></h3>

<a href="/dogs">RETURN BACK TO MENU</a>